body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;
}
.cuerpo{
    border-style: solid;
    border-color: gray;
    width: 90vw;
    align-self: center;
    margin-left: 1.5em;
}
ul{
    margin-left: 0px;
}
.full{
    border-style: solid;
    border-color: gray;
    height: 90vh;
}